
  .wide-input { width: 100%; }
  .lowered { margin-top: 30px; }
  .margined { padding:16px; }
  .om { width:100%; }
  .om td { padding: 2px 44px; border:0 solid gray; }
  .bp { width: 100%; margin : 0px; }
